.theme-custom {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #355C7D;

    --background: 220 26% 2.8%;
    --foreground: 220 4% 96.75%;

    --muted: 220 20% 10.5%;
    --muted-foreground: 220 4% 53.5%;

    --popover: 220 57% 4.55%;
    --popover-foreground: 220 4% 96.75%;

    --card: 220 57% 4.55%;
    --card-foreground: 220 4% 96.75%;

    --border: 220 20% 10.5%;
    --input: 220 20% 10.5%;

    --primary: 220 40% 35%;
    --primary-foreground: 220 4% 96.75%;

    --secondary: 220 20% 10.5%;
    --secondary-foreground: 220 4% 96.75%;

    --accent: 220 20% 10.5%;
    --accent-foreground: 220 4% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 4% 96.75%;

    --ring: 220 40% 35%;
}